.loginModule{
    padding: .3%;
    margin-top: .5%;
    background-color: rgb(178, 226, 226);
    height: 100%;
    width: 100%;
    
}
.TestSchedule{

    font-size: 18px;
    font-style: bold;
    font-optical-sizing: 20px;
    padding: 6%;
    height: 100%;
    width: 100%;
    background-color: rgb(178, 226, 226);
}
.key2{

    padding-left:20%;
    
}
.form-group{
    text-align: center;
     
}