.body{
margin-left:2%;
background-color: rgb(103, 103, 185);
min-width:87% ;
}
.div1{

    align-content: center;
    background-color: rgb(217, 217, 243);
    margin-left:0%;
    width: 99.0%;
    }
label{
    width: 40%;
    font-size: 20px;
    padding-right: 18%;
}
.form-group{

   
    text-align: center;
    font-size: 18px;
    padding: 2px;
    padding: center;

}
.loginmodule{
    padding: .3%;
    margin-top: .5%;
   
}